body {
    animation: backgroundColour 50s ease-in-out infinite;
}

@keyframes backgroundColour{
    0% {
        background-color: rgb(20, 19, 24);
    }
    25%{
        background-color: rgb(36, 38, 46);
    }
    50%{
        background-color: rgb(24, 24, 24);
    }
    75%{
        background-color: rgb(36, 38, 46);
    }
    100% {
        background-color: rgb(20, 19, 24);
    }
}

#form {
    width: 800px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(26, 31, 39);
    color: rgb(107, 121, 202);
    text-align: left;;
    font-family: 'consolas';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrap {
    border: 1px solid #fff;
    margin-left: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 250px;
    height: 270px;
    border-radius: 5px;
    background: rgba(32, 38, 48, 0.795);
    float: left;
}

h1 {
    margin-left: 20px;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgb(107, 121, 202);
    margin-left: 20px;
    background-color: rgb(75, 90, 173);
    color: #fff;
    padding-left: 7px;
}

input::-webkit-input-placeholder{
    color: rgb(161, 161, 161);
}

button {
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(66, 79, 150);
    background-color: rgb(107, 121, 202);
    color:rgb(255, 255, 255);
    transition: 200ms;
}
button:hover {
    border: 1px solid rgb(107, 121, 202);
    background-color: rgb(66, 79, 150);
}

#two img {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#two {
    float: left;
    margin-left: 10px;
}
#two h5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#two #extraOffset {
    margin-top: 60px;
    text-align: center;
}

a {
    color: #eff1f7;
}